.first-rule__title {
  margin-bottom: 30px;

  font-size: 36px;
  font-weight: 900;
  line-height: 120%;
}


.first-rule__box-upper {
  display: flow-root;
  margin-bottom: 30px;
}

.first-rule__left-img {
  float: left;
  width: 560px;
  height: 415px;
  margin-right: 25px;
}

.first-rule__right-text {
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 120%;
}

.first-rule__box-lower {
  display: flow-root;
}

.first-rule__right-img {
  float: right;
  width: 560px;
  height: 279px;
  margin-left: 35px;
}

.first-rule__left-text {
  margin-bottom: 30px;
  
  font-size: 20px;
  line-height: 120%;
}