.article-page {
  padding-bottom: 50px;
}

.results__box-content {
  padding: 25px 0 25px 45px;

  border-radius: 10px;
  background: #F1F1F1;
}

.results__title {
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
}

.results__element {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.results__element:last-child {
  margin-bottom: 0;
}

.results__list {
  margin-bottom: 30px;
  list-style: none;
}

.results__text {
  width: 1065px;
  font-size: 20px;
  line-height: 120%;
}