.second-rule__title {
  margin-bottom: 30px;

  font-size: 36px;
  font-weight: 900;
  line-height: 120%;
}

.second-rule__text {
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 120%;
}

.second-rule__text:last-child {
  margin-bottom: 0;
}

.second-rule__img {
  display: block;
  margin: 0 auto 30px;
  width: 100%;
}

.second-rule__img_size_small {
  width: initial;
}

.second-rule__img_margin_none {
  margin: 0;
}

.second-rule__box-custom-img {
  margin-bottom: 30px;
}

.second-rule__box-custom-text {
  width: 100%;
  height: 78px;
  padding-left: 30px;
  padding-top: 15px;

  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.second-rule__custom-text{
  /* width: 1050px; */
  
  color: #5E5E5E;
  font-size: 20px;
  line-height: 120%;
}